#header {
  margin-bottom: 24px;

  &:after {
    content: "";
    display: table;
    clear: both;
  }

  .col {
    width: 50%;
    float: left;
  }

  h1 {
    font-size: 32px;
    line-height: 48px;
    margin: 0;
  }

  h2 {
    color: $grey-400;
    font-size: 20px;
    line-height: 32px;
    font-weight: 400;
    margin: 0;
  }

  .header-nav {
    list-style-type: none;
    margin: 8px 0 40px 0;
    padding: 0;
    counter-reset: header;
  }

  .nav-item {
    display: inline-block;
    margin-right: 16px;
  }

  .nav-item:before {
    counter-increment: header;
    content: counter(header, decimal-leading-zero);
    color: $grey-500;
    margin-right: 8px;
    font-size: 14px;
  }
}