body {
  font-family: Rubik, Helvetica, sans-serif;;
  font-size: 18px;
  line-height: 1.8em;
}

blockquote {
  border-left: 4px solid $grey-500;
  margin-left: 0;
  padding-left: 16px;
}

a {
  color: $red-100;
  text-decoration: none;
  border-bottom: 2px solid transparent;
  transition: border 0.25s ease-in-out;

  &:hover {
    border-bottom: 2px solid $red-100;
  }
}

.container {
  width: calc(100vw - 160px);
  margin: 32px;
  padding: 48px;
  box-shadow: inset 0 0 0 8px $purple-100;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.col {
  width: 50%;
  float: left;
}