$grey-100: #2c2c2c;
$grey-200: #4c4c4c;
$grey-300: #6c6c6c;
$grey-400: #9c9c9c;
$grey-500: #bcbcbc;
$grey-600: #fcfcfc;

$purple-100: #351C75;
$purple-200: #8E7CC3;
$purple-300: #FFD2FC;

$red-100: #F61067;