#projects {
  .row {
    margin-bottom: 40px;
  }

  .project-description {
    padding: 48px 32px;
    transition: padding 0.25s ease-in-out;
  }

  img {
    max-width: 100%;
    max-height: 100%;
    margin: 0 auto;
  }

  h3 {
    font-weight: 400;
    color: $grey-100;
    font-size: 20px;
    margin: 0 0 8px 0;
  }

  .description {
    font-size: 16px;
    line-height: 28px;
    color: $grey-300;
  }

  a {
    font-size: 16px;
    line-height: 24px;
    transition: margin 0.25s ease-in-out;

    &:hover {
      margin-left: 8px;
    }
  }
}

.project-title {
  font-size: 20px;
  // font-weight: 400;
  margin-bottom: 8px;
  color: $red-100;
}

.project-team {
  color: $grey-400;
}

.project-description {
  margin: 0 0 40px;
}

.grid-wrapper {
  column-count: 3;
  column-gap: 16px;

  img {
    width: 100% !important;
    height: auto !important;
  }
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
  #projects {
    .project-description {
      padding: 32px;
    }

    .description:nth-of-type(2n) {
      display: none;
    }
  }
}


@media only screen and (min-width: 320px) and (max-width: 991px) {
  #projects {
    .col {
      width: 100%;
    }

    .project-description {
      padding: 8px;
    }

    .description:nth-of-type(2n) {
      display: none;
    }
  }
}